<section class="account">
  <h2>Mis datos</h2>

  <div *ngIf="user as u; else noUser" class="card">
    <div class="row">
      <div class="label">Nombre</div>
      <div class="value">{{ u.name }}</div>
    </div>
    <div class="row">
      <div class="label">Email</div>
      <div class="value">{{ u.email }}</div>
    </div>
    <div class="row" *ngIf="u.phone">
      <div class="label">Teléfono</div>
      <div class="value">{{ u.phone }}</div>
    </div>
    <div class="row" *ngIf="u.profile">
      <div class="label">Perfil</div>
      <div class="value">{{ u.profile?.name }}</div>
    </div>
    <div class="row" *ngIf="u.locality">
      <div class="label">Localidad</div>
      <div class="value">{{ u.locality?.name }}</div>
    </div>
    <div class="row" *ngIf="u.address || u.street || u.street_number">
      <div class="label">Dirección</div>
      <div class="value">
        <ng-container *ngIf="u.address; else streetBlock">{{ u.address }}</ng-container>
        <ng-template #streetBlock>
          {{ u.street || '' }} <ng-container *ngIf="u.street && u.street_number">{{ u.street_number }}</ng-container>
          <ng-container *ngIf="u.floor">, Piso {{ u.floor }}</ng-container>
          <ng-container *ngIf="u.apartment">, Dpto {{ u.apartment }}</ng-container>
        </ng-template>
      </div>
    </div>
    <div class="row" *ngIf="u.description">
      <div class="label">Descripción</div>
      <div class="value">{{ u.description }}</div>
    </div>
  </div>

  <ng-template #noUser>
    <p>No hay usuario cargado.</p>
  </ng-template>
</section>


